{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My RTI Application</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> 
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/rti.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li><a href="#intro">Introduction</a></li>
                <li><a href="#jobs">Job History</a></li>
                <li><a href="#proj">Side Projects</a></li>
                <li><a href="#edu">Education</a></li>
                <li><a href="#me">About Me</a></li>
            </ul>
        </div>
        
        <section id="intro">
        <div class="topper">
            <div class="main">
                So there's a Python Developer position available at RTI?
            </div>
        </div>

        <div class="secondary-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                    <p>My name is Brian Carrigan, and I believe that my unique blend of programming, leadership, writing, and mentorship experience makes me the perfect candidate for this position.</p>
                    <p>The site you are looking at is served using Django, the <a href="https://bitbucket.org/bcarrigan/rti_application/src">source code for which can be found here</a>.
                        I come from an electrical engineering background, and started using Python in college for simulations.
                        I discovered it was increasingly useful for automating tasks and visualizing data, and eventually started replacing command line interfaces in my programs with web interfaces.
                        In addition to Django, I have developed using Flask extensively and currently work full time as a full stack web developer at Microsoft.
                        I've picked up a few other languages along the way as well.</p>
                    <p></p>
                    <div id="chartContainer" class="text-center"></div>
                    <p>I love making things and sharing them with people. You can find write-ups for projects that I have made on my personal site at <a href="http://www.graphsandwords.com">graphsandwords.com</a>, and the source code to my projects can be found on my <a href="http://www.github.com/carrigan">Github</a>. I also love learning.
                        I am currently working on learning Clojure and d3js in my spare time and participating in several local programming meetups.</p>
                    <p>I hope that you will browse through my resume below (or download the <a href="/json">json version</a> or the <a href="{% static '150625_carrigan_resume.pdf' %}">pdf version</a>), view the <a href="https://bitbucket.org/bcarrigan/rti_application/src">source code</a> for this site, and <a href="mailto:brian.c.carrigan@gmail.com">contact me</a> to talk about this position soon!</p>

                    </div>
                </div>
            </div>
        </div>
        </section>
        
        <div id="page-content-wrapper">          
            <div class="container-fluid">
                
                <section id="jobs">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Job History</h1>
                    </div>
                </div>

                {% for job in jobs %}
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="panel panel-info">
                          <div class="panel-heading">
                              <div class="job">
                                  {% if job.logo_url %}
                                  <img src="{% static job.logo_url %}" class="logo">
                                  {% endif %}
                                <span class="title">{{ job.company_name }}</span>
                              </div>
                          </div>
                          <div class="panel-body">
                            <div class="project">
                                {%  if job.project_logo %}
                                <img src="{% static job.project_logo %}" class="logo">
                                {% endif %}
                                <span class="title"><a href="{{ job.project_url }}">{{ job.project_title }}</a></span>
                            </div>

                          {% for role in job.role_set.all %}
                            <hr />
                            <p class="job-title">{{ role.title }}<span class="job-time">{{ role.start }} - {% if role.end %}{{ role.end }}{% else %}Current{% endif %}</span></p>
                            <p>{{ role.description }}</p>

                            <ul>
                            {% for role_item in role.responsibilities %}
                                <li>{{ role_item.item }}</li>
                            {% endfor %}
                            </ul>
                          {% endfor %}

                          </div>
                        </div> 
                    </div>
                </div>
                {% endfor %}
                </section>
                
                <section id="proj">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1>Side Projects</h1>

                            {% for project in projects %}
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                  <div class="job">
                                      {% if project.image_url %}
                                      <img src="{% static project.image_url %}" class="logo">
                                      {% endif %}
                                    <span class="title">
                                        {% if project.url %}<a href="{{ project.url }}">{% endif %}{{ project.title }}{% if project.url %}</a>{% endif %}
                                    </span>
                                  </div>
                              </div>
                              <div class="panel-body">
                                  <p>{{ project.description }}</p>
                              </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>
                
                <section id="edu">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1>Education</h1>

                            {% for degree in education %}
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                  <div class="job">
                                      {% if degree.image_url %}
                                      <img src="{% static degree.image_url %}" class="logo">
                                      {% endif %}
                                    <span class="title">
                                        {{ degree.school }}
                                    </span>
                                  </div>
                              </div>
                              <div class="panel-body">
                                  <p class="job-title">{{ degree.degree }}<span class="job-time">{{ degree.start }} - {% if degree.end %}{{ degree.end }}{% else %}Current{% endif %}</span></p>
                                  <p><strong>GPA:</strong> {{ degree.gpa }}/4.0</p>
                                  <hr />
                                  <ul>
                                      {% for achievement in degree.educationachievement_set.all %}
                                      <li>{{ achievement.item }}</li>
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>


                <section id="me">
                {% if me %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h1>About Me</h1>
                            <div class="panel panel-info">
                              <div class="panel-heading">
                                  <div class="job">
                                    <img src="{% static me.image %}" class="logo">
                                    <span class="title">
                                        {{ me.display_name }}
                                    </span>
                                  </div>
                              </div>
                              <div class="panel-body">
                                  <p>{{ me.blurb }}</p>
                                  <hr />
                                  <strong>My other hobbies include:</strong>
                                  <ul>
                                  {% for hobby in me.hobby_set.all %}
                                      <li>{{ hobby.name }}</li>
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </section>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
    <script>
        $("#sidebar-wrapper").singlePageNav();
        var data = [
            {Language: "C", "Years of Experience": 6},
            {Language: "Python", "Years of Experience": 5},
            {Language: "Javascript", "Years of Experience": 2},
            {Language: "HTML", "Years of Experience": 2},
            {Language: "C#", "Years of Experience": 2},
            {Language: "Java", "Years of Experience": 1},
        ];

        var svg = dimple.newSvg("#chartContainer", 590, 300);
        var myChart = new dimple.chart(svg, data);
        myChart.setBounds(60, 30, 510, 205);
        var x = myChart.addCategoryAxis("x", "Language");
        myChart.addMeasureAxis("y", "Years of Experience");
        myChart.addSeries(null, dimple.plot.bar);
        myChart.draw();
  </script>

</body>

</html>
